.footer {
  width: 100%;
}

.ioqnpr {
  padding-top: 32px;
  padding-bottom: 85px;
  background-color: rgb(39, 39, 39);
  width: 100%;
}

.line {
  border-top-width: 1px;
  box-sizing: content-box;
  height: 0px;
  overflow: visible;
}
.container hr {
  opacity: 0.6;
  border-width: 0px 0px 1px;
  border-image: initial;
  border-color: inherit;
  border-style: solid;
  width: 100%;
}

.footcont {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.logoSection {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.logoSection img {
  border-style: none;
}

.logoSection p {
  color: white;
}
.linksSection {
  display: grid;
  row-gap: 42px;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  margin-top: 58px;
}

.column {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.txt {
  margin-bottom: 24px;
  color: #56b280;
}

.column a {
  cursor: pointer;
  text-decoration: none;
  outline: transparent solid 2px;
  outline-offset: 2px;
  color: #000000;
  font-family: Roboto, sans-serif;
}

.column a p {
  color: white;
}

.bottom {
  width: 100%;
  padding: 24px;
  background-color: rgb(229, 229, 229);
}
.bottom p {
  color: rgb(94, 110, 137);
  text-align: center;
}

@media screen and (min-width: 62em) {
  .footcont {
    justify-content: space-between;
    flex-direction: row;
  }
  .linksSection {
    gap: 0px 50px;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
  }
  .logoSection p {
    width: 270px;
  }
}
